<!doctype html>
<html lang="en">
<head>
    <title>Add New User</title>
</head>
<body>
    <h1>Add New User</h1>
    <form action="{{ url_for('add_user') }}" method="post">
        <label for="user_id">User ID:</label><br />
        <input type="text" id="user_id" name="user_id" required /><br />
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" required /><br />
        <label for="major">Major:</label><br />
        <input type="text" id="major" name="major" required /><br />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>